:root{
    --color--primary:#0073ff;
    --color--white:#e9e9e9;
    --color--black:#141d28;
    --color--black-1:#212b38;
}
* {
    margin:0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
}
.menu {
    background-color: var(--color--black);
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
}
.logo {
    color: var(--color--white);
    font-size: 30px;
}
.logo span{
    color: var(--color--primary);
}
.menu ul{
    list-style: none;
    display: flex;
}
.menu ul li{
    padding: 10px 30px;
    position: relative;
}
.menu ul li a{
    color: var(--color--white);
    text-decoration: none;
    font-size: 20px;
    transition: all 0.3s;
}
.menu ul li a:hover{
    color: var(--color--primary);

}
.dropdown{
    display: none;
}
.menu ul li:hover .dropdown{
    display: block;
    position: absolute;
    left: 0;
    top:100%;
    background-color: var(--color--black);
}
.menu ul li:hover .dropdown ul{
    display: block;
    margin:10px ;
}
.menu ul li:hover .dropdown ul li{
    width:150px;
    padding:10px;
}
.hero {
    height: calc(300vh - 80px);
    background-image: url(output/4.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
a{
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}
a:hover{
    background-color: #ddd;
    color: black;
}
.programList{float: left; width:100%;display:flex;color:#ffffff}
.programList h1 {
    text-align: center;
    margin-top: 12px;
    margin-left: 45px;
    font-size: 44px;
    color: var(--color--primary);
}
.query {
    height: 80px;
    width: 100%;  
    display: flex;
}
.query ol{
    color:white;
    font-size: 23px;
    margin-top:25px;
}
.query ol li{
    padding: 4px 20px;
}
.query ol li a{
    color: var(--color--white);
    text-decoration: none;
    font-size: 22px;
    transition: all 0.3s;
}
.query ol li a:hover{
    color: var(--color--primary);

}