:root{
    --color--primary:#0073ff;
    --color--white:#e9e9e9;
    --color--black:#141d28;
    --color--black-1:#212b38;
}
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
}
.menu {
    background-color: var(--color--black);
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    position: fixed;
}
.logo {
    color: var(--color--white);
    font-size: 30px;
}
.logo span{
    color: var(--color--primary);
}
.menu ul{
    list-style: none;
    display: flex;
}
.menu ul li{
    padding: 10px 30px;
    position: relative;
}
.menu ul li a{
    color: var(--color--white);
    text-decoration: none;
    font-size: 20px;
    transition: all 0.3s;
}
.menu ul li a:hover{
    color: var(--color--primary);

}
.dropdown{
    display: none;
}
.menu ul li:hover .dropdown{
    display: block;
    position: absolute;
    left: 0;
    top:100%;
    background-color: var(--color--black);
}
.menu ul li:hover .dropdown ul{
    display: block;
    margin:10px ;
}
.menu ul li:hover .dropdown ul li{
    width:150px;
    padding:10px;
}

.hero {
    height:100vh;
    background: rgb(64,131,164);
    background: radial-gradient(circle, rgba(64,131,164,1) 0%, rgba(179,219,232,1) 100%);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.hero .search h1{
    width:50%;
    background: white;
}
/* .search 
{  
    margin: 0% 28rem;
    background:white;
    width:50%;
    height: 50%;
    text-align: center;
}
.topic img {
    border-radius: 16rem;
    background: white;
    margin: 4rem 28rem;
    width: 22%;
}
.topic img:hover{
    box-shadow: white 0px 4px 7px 5px;
  }
  .contact
  {
    text-align: center;
  }
  .contact h4 {
    margin: -3rem;
    font-size: 2.5rem;
} */
.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: flex;
      font-size: 70px;
      margin-top: 100px;
      margin-left: 35px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
/* <------------topics style-----------> */
.topic{
    display: flex;
    padding: 30px 97px;
}
.topic h4 {
    float: left;
    background-color: lightskyblue;
    width: 360px;
    height: 98px;
    font-size: 21px;
    margin: 27px 7px;
    text-align: center;
    padding: 27px 9px;
    border-radius: 20px 20px;
    background: white;
}
.topic-card h4 a{
    /* color: var(--color--white);
     */
     color: black;
    text-decoration: none;
    font-size: 22px;
    transition: all 0.0s;
}
.topic-card h4 a:hover{
    color:rgb(238, 92, 92);
} 
.topic .topic-card h4:hover{
  box-shadow: rgb(20, 10, 85) 0px 2px 5px 3px;
}
   
#experts {
    padding: 5vw 8vw 5vw 8vw;
    text-align: center;
  }
  #experts .profile {
    padding: 4vw;
    text-align: center;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
      rgba(0, 0, 0, 0.22) 0px 10px 10px;
  }
  #experts .expert-box .profile img {
    width: 220px;
    height: 220px;
    border-radius: 50%;
  }
  